/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 may. 2024, 05:22:06
    Author     : Victor
*/

*{
    padding: 0px;
    margin: 0px;    
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;  
}

.principal-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header-e-d{
    font-size: 1.75rem;
    font-weight: bold;
    color: #1D242E;
}

.paragraph-e-d{
    font-size: 1.25rem;
    font-weight: 500;
    color: #1D242E;
}

p{
    margin: 0px 0px 10px 0px; 
}

.tabla{
    border: 1px solid rgba(29,36,46,0.3);
    border-radius: 5px;
}

.td-p{
    border-top: 1px solid rgba(29,36,46,0.3);
    width: 100%;    
}

.button2{
    border: none;
    cursor: pointer;
    background: #323232;
    color: white;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    height: fit-content;
    margin: 0px 0px 0px 0px;
}

.button2:hover{
    background: #484848;
}
.button2:active{
    background: #646464;
}

.space-bt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}