*{
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif; 
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.admin-title-container {
    position: absolute;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 80px 1fr;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Form-name{
    position: absolute;
    color: black;
    font-weight: bold;
    position: relative;
    font-size: 1.7rem;
    padding: 0 0 0 20px;
    left: 0;
    top: 0.7rem;
}


.Form-description{
    position: absolute;
    color: black;
    position: relative;
    font-size: 1.2rem;
    padding: 0 0 0 20px;
    left: 0;
    top: 0.8rem;
}



.card-container{
  position: absolute;
  width: 80%;
  display: grid;
  left: 17rem;
  top: 10rem;
  justify-content: center;
  grid-template-columns: 0.3fr 0.3fr;
  grid-template-rows: 0.3fr 0.3fr;
  grid-gap: 3rem ;
}


.card{
    border: 0.05rem solid;
    border-color: black;
    border-radius: 10px;
    max-width: 150rem;
    display:grid;

    
}


.card-title{
    display: inline-block;
    padding: 7px;
    box-sizing: border-box;
    width: 30%;
    text-align: left;
    font-size: 1.2em;
    color: black;
    align-content: center;
}
.card-config{
    display: inline-block;
    box-sizing: border-box;
    width:65%;
    color: black;
    font-size: 1em;
    text-align: right;
}


.card-info{
    display: grid;
    grid-template-columns: auto auto;
}

.card-info.card-element{
    display: inline-block;
    box-sizing: border-box;
    padding:6px;
    
    
}

.card-info.number{
    font-size: 1.6em;
}

.card-info.detail{
    max-width: 4em;
    font-size: 1.2em;
    
}


