*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;  
}

.contenedor-login{    
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
}

.header-login{
    background: #009099;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    text-align: center;
}

.header-login2{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.header-logo{
    height: 100px;   
    width: 100px;
    background: white;
    margin: 0px 20px 0px 0px;
}

.header-text{
    font-weight: bold;
    font-size: 2rem;
    color: #283342;
}

.login{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
}

.separador{
    content: "";
    height: 80%;
    width: 20px;
    background: #009099;
}

.imagen{
    /*background: red;*/
}

.button{
    border: none;
    cursor: pointer;
    background: #323232;
    color: white;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    height: fit-content;
    margin: 0px 0px 0px 0px;
}

.button:hover{
    background: #484848;
}
.button:active{
    background: #646464;
}

.form-container{
    display: grid;
    justify-items: center;
    padding: 12px 0px;
}

.form-login{
    /*background: yellow;*/
    width: 100%;
    margin: 12px 0px 0px 0px;
}

input{
    outline: none;
    background: #e3ebf3;
    border-radius: 2px;
    border-width: 0.6px;
    padding: 5px;
    width: 250px;
}

.footer-home{
    content: "";
    background: #009099;
    width: 100%;
    height: 100px;
}

.fondo-admin{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.login-admin{
    content: "";
    height: 400px;
    width: 400px;
    background: #1d242e;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}