
.Form-name{
    display: inline-block;
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 2rem;
    padding: 0 0 0 20px;
    left: 30rem;
    top: 1.2rem;
    
}

.form-title{
    font-size: 2rem;
    padding: 0 0 0 12rem;
}


.Container-RegistroProductos{
max-width: 700px;

position: absolute;
left: 30rem;
top: 5rem;
width: 100%;
padding:  2% ; /*Espacio del formulario*/
margin-left: 10%;
border-radius: 5px; 

}

.Container-RegistroProductos .IngreseDatos{
    font-size: 25px;          
    font-weight: bold;   
    text-align: center; /*ALINEAR TEXTO EN EL MEDIO*/
                        
}

.Container-RegistroProductos form{
   
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between; 
    margin: 8% 12px 0;
    
}
.negrita{
            font-weight: bold;  /*Establece un texto en negrita*/
        }

        form .form-group{
            
            margin-bottom: 5% ; 
            width: 50%;
      text-align: center; /* Centra horizontalmente el contenido del div */
        }

        form span{
            display: block;
            margin-bottom: 5px;
        }
        .form-group input{
            height: 60px; 
            width: 80%; 
             outline: none; 
             border-radius: 5px;
              border-bottom-width:  2px; 
              transition: all 0.3s ease;
              border: 2px solid  #1D242E;
              background-color: #D9D9D9;
            text-align: center; /* Centra horizontalmente el contenido del div */
        }
.form-group textarea {
    height: 90px; /* Altura del textarea */
     width: 80%;  /* Ancho del textarea */
    resize: none; /* Deshabilita la redimensión */
    outline: none; /* Quita el contorno predeterminado */
    border-radius: 5px; /* Borde redondeado */
    border-bottom-width: 2px; /* Grosor del borde inferior */
    transition: all 0.3s ease; /* Transición suave */
    padding: 10px; /* Espacio interno */
    font-size: 16px; /* Tamaño de la fuente */
    border: 2px solid  #1D242E; /* Borde */
    background-color: #D9D9D9;
    text-align: center; /* Centra horizontalmente el contenido del div */
}

/* PROVEEDOR*/
     .form-group select {
    height: 60px; 
    width: 80%; 
    outline: none; 
    border-radius: 5px;
    border-bottom-width: 2px; 
    transition: all 0.3s ease;
  border: 2px solid  #1D242E;
     background-color: #D9D9D9;
     text-align: center; /* Centra horizontalmente el contenido del div */
}/* PROVEEDOR*/
 
/* CATEGORIA */
     .form-group #categoria{
    height: 60px; 
    width: 180%; 
    margin-left: 10%;
    outline: none; 
    border-radius: 5px;
    border-bottom-width: 2px; 
    transition: all 0.3s ease;
  border: 2px solid  #1D242E;
     background-color: #D9D9D9;
     text-align: center; /* Centra horizontalmente el contenido del div */
}/* PROVEEDOR*/

/* categoria*/
.categoria{
  padding-left: 88%; 
}
.button {
    text-align: center; /* Centra horizontalmente el contenido del div */
    display: flex; /* Convertir el contenedor en un flex container */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    margin-top: 5%; /* Espacio con los elementos que están arriba de él */
    padding:1% 42%; /* UBICACION DEL BOTON :D*/
}

#categoria-help {
    padding-left: 82%; 
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
}




.button input[type="submit"] {
    background-color: #01A768; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border-radius: 5px; /* Borde redondeado del boton */
    padding: 20px 30px; /* Espacio del boton*/
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
  border: 2px solid  #1D242E; /*Borde del botton*/
  
}

.button input[type="submit"]:hover {
    background-color:  #FED600 /* Cambia el color de fondo al pasar el ratón :D */
}


/*Color de las alertas*/
small {
    color: red; 
}
