<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>SvHome</servlet-name>
        <servlet-class>servlets.SvHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvProductosss</servlet-name>
        <servlet-class>servlets.SvProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvProducto</servlet-name>
        <servlet-class>servlets.SvProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvProduct</servlet-name>
        <servlet-class>servlets.SvProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEmpleados</servlet-name>
        <servlet-class>servlets.Editarssssss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProductos</servlet-name>
        <servlet-class>servlets.EditarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvEliminarProductos</servlet-name>
        <servlet-class>servlets.SvEliminarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvMostrarEmpleado</servlet-name>
        <servlet-class>servlets.SvMostrarEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvHome</servlet-name>
        <url-pattern>/SvHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvProductosss</servlet-name>
        <url-pattern>/SvProductosss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvProducto</servlet-name>
        <url-pattern>/SvProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvProduct</servlet-name>
        <url-pattern>/SvProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEmpleados</servlet-name>
        <url-pattern>/EditarEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProductos</servlet-name>
        <url-pattern>/EditarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvEliminarProductos</servlet-name>
        <url-pattern>/SvEliminarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvMostrarEmpleado</servlet-name>
        <url-pattern>/SvMostrarEmpleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SvInicioSesion</servlet-name>
        <servlet-class>servlets.SvInicioSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvInicioSesion</servlet-name>
        <url-pattern>/SvInicioSesion</url-pattern>
    </servlet-mapping>
</web-app>
